{{> header usuario}}


<div class="card mb-3" style="width = 90 vw;">
    <div class="row g-0">
        {{#with coctel}}
        <div class="col-md-4">
            <img src="{{imageUrl}}" class="img-fluid rounded-start" alt="Imagen del cóctel" style="height: 40vh;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{name}}</h2>
                <h4 class="card-title">Ingredientes:</h4>
                <p class="card-text">{{alcohol}}</p>
                <p class="card-text">{{ingredientes}}</p>

                <h4 class="card-title">Preparación del cóctel:</h4>
                <p class="card-text">{{procedimiento}}</p>

                <h4 class="card-title">Descripción del cóctel:</h4>
                <p class="card-text">{{descripcion}}</p>
                <p class="card-text">{{origen}}</p>
                
                <a href="/profile/{{creador._id}}">{{creador.username}}</a>
                {{!-- <p class="card-text"><small class="text-muted">{{creador.username}}</small></p> --}}
            </div>
        {{/with}}
        {{#if esCreador}}
        <a href="/informacion/{{coctel._id}}/edit" class="btn btn-primary">Editar cóctel</a>
        <div class="modal-footer">
                    <form action="/delete/{{coctel._id}}" method="post">
                        <button type="submit" class="btn btn-primary">Eliminar definitivamente</button>
                    </form>
                </div>
        {{/if}}
        </div>
    </div>
</div>