{{> header usuario}}

<body id="bodyPerf">
        <div class="card mb-3 mx-auto" style="background-color: rgb(30, 29, 26)" >
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{user.fotoPerfil}}" class="img-fluid rounded-start" alt="User avatar" id="userImg">
                </div>
                <div class="col-md-8" >
                    <div class="card-body">
                        <div id="username">
                            <h2 class="card-title">{{user.username}}</h2>
                        </div>
                        <p class="card-text text-light m-2" >{{user.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center" id="cocteles" >

    <div class="row justify-content-center" id="contenedor">
            {{#each coctelUser}}
            <div class="col-md-5 col-lg-3 m-3 m-lg-4 mx-auto" style=" background-color: rgba(77, 76, 74, 0.5)" id="coctel">
                <img src="{{imageUrl}}" class="card-img-top" alt="Imagen del c칩ctel" id="fotoCoc">
                <div class="card-body" id="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <a href="/informacion/{{_id}}" class="btn">M치s informaci칩n</a>
                </div>
            </div>
            {{/each}}
            <form>
                <input type="button" class="btn btn-light text-black h6 mt-3" value="Volver atr치s" onclick="history.back()">
            </form>
            </div>
            </div>

        </div>
</body>

   
