{{> header usuario}}

<div class="card mb-3" style="width: 100vw; height: 30vh">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{user.fotoPerfil}}" class="img-fluid rounded-start" alt="Avatar usuario" name="perfil-cover-image" style="height: 30vh" >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{user.username}}</h3>
                <p class="card-text">{{user.descripcion}}</p>
               
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        {{#each coctelUser}}
        <div class="col-3 m-1" style="background-color: rgba(223, 223, 222, 0.5)">
            <img src="{{imageUrl}}" class="card-img-top" alt="Imagen del c칩ctel">
            <div class="card-body">
                <h5 class="card-title"> {{name}}</h5>

                <a href="/informacion/{{_id}}" class="btn btn-primary">M치s informaci칩n</a>
            </div>
        </div>
        {{/each}}
    </div>
    <form>
        <input type="button" class="btn btn-light text-black h6 mt-3" value="Volver atr치s" onclick="history.back()">
    </form>
</div>


